/* for semi-pc view */
@media(max-width: 1400px) {
    .copy-container h1 {
        font-size: 80px;
        margin-top: 0;
    }
    .copy-container h2 {
        font-size: 40px;
    }

    .team-item {
        font-size: 5px;
    }

    .team-item {
        width: 33.3%;
    }

    .team-item img {
        height: 400px;
    }

    .contents p {
      text-align: center;
    }

    .content-items {
        width: 25%;
    }

    .contact-form h3, p {
        text-align: left;
    }

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    .transition-image {
        
    }

}


/* for tablet view */
@media(max-width: 1000px) {
    .copy-container h1 {
        font-size: 60px;
        margin-top: 0;
    }
    .copy-container h2 {
        font-size: 30px;
    }

    .team-item {
        width: 33.3%;
    }

    .team-item img {
        height: 290px;
    }

    .contents p {
      text-align: center;
    }

    .content-items {
        width: 50%;
    }

    .contact-form h3, p {
        text-align: center;
    }

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    .transition-image {
        left: 10px;
    }

}
  
/* for Smartphone view */
@media(max-width: 670px) {
.header-logo{
    font-size: 28px;
    padding: 25px;
}
.header-list{
    display:  none;
}

.menu-icon{
    display: block;
    padding: 15px;
}

.team-item{
    width: 100%;
}

.team-item img{
    width: 100%;
}

.transition-image{
    width: 100%;
}

.container{
    width: 100%;
}

.copy-container h1{
    font-size: 40px;
}

.copy-container h2{
    font-size: 20px;
}

.contents p {
  text-align: center;
}

.content-items{
    width: 100%;

}

.contact-form h3, p {
    text-align: center;
}

footer{
    text-align: center;
}

}
