title {
    color: #02ccba;
}

body {
    font-family: "Avenir Next";
}

li {
    list-style: none;
}

.header a, .footer a {
    text-decoration: none;
    color: #fff;
}

.header {
    height: 90px;
    background-color: #26d0c9;
}

.header-list li {
    float: left;
    color: #fff;
    padding-top: 33px;
    padding-left: 20px;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
    color: #fff;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

.main {
    padding: 100px 80px;
    background-image: url("header.jpg");
    background-size: cover;
    
}

.team {
    margin-top: 50px;
    margin-bottom: 200px;
    text-align: center;
    height: 500px;
    
}

.team-item {
    float: left;
    font-size: 24px;
    position: relative;
}

.team-item img {
    height: 500px;
    
}

.transition-image {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.transition-image:hover {
    opacity: 1;
}

.copy-container h1 {
    font-size: 140px;
    margin-bottom: 0px;
    color: #2f5167;
    
}

.copy-container h2 {
    font-size: 70px;
    margin-top: 0px;
    color: #02ccba;
    
}

.copy-container span {
    color: #ff4a4a;
}

.contents {
    height: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.content-items {
    float: left;
    padding-right: 40px;
    font-size: 24px;
}

.content-items p {
    font-size: 24px;
    margin-top: 30px;
}

.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.contact-form {
    background-color: #dee7ec;
    padding-top: 20px;
    padding-bottom: 80px;
}

.contact-form .section-title {
    border-bottom: 2px solid #889eab;
    text-align: center;
}

.contact-form p {
    font-size: 20px;
}

input, textarea {
    width: inherit;
    font-size: 18px;
    padding: 20px 20px;
    border: 1px solid #dee7ec;
    box-sizing: border-box;
}

.contact-submit {
    background-color: #02ccba;
    color: #fff;
}

.contact-submit:hover {
    background-color: rgba(2, 204, 186, 0.6);
}

.contact-submit:active {
    background-color: #02ccba;
}

.footer {
    height: 120px;
    background-color: #2f5167;
    color: #fff;
    padding: 40px;
}

.footer-logo {
    font-size: 32px;
    float: left;
}

.footer-list {
    float: right;
}

.footer-list li {
    padding-bottom: 20px;
}
